/*
header{
    background: #bc8f8f;
    color: red
}
/* Selector de etiqueta header-article-nav-section */
/* Selector descendente */
/* body header nav ol li a */
/* selector de clase */
/* .link */
/* Selector de Id # */
/* #pendientes */

body {
    font-family: "Source Sans Pro", sans-serif;
    
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla one', sans-serif;
    font-weight: normal;
    /*font-style: italic;*/
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    /*text-transform: uppercase;*/
    /*text-decoration:*/ 
}

.hero {
    height: 300px;
}

.project_details {
    width: 500px;
}
